<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script>

        $(function () {
            $("#forget_pass").click(function () {
                var username = $("#froget_username").val();
                $.ajax({
                    url: "user/forgetPassword",
                    data: "username=" + username,
                    type: "post",
                    success: function (result) {
                        console.log(result);
                    }
                });
            })
        })
    </script>
    <title>忘记密码</title>
</head>
<body>
<form>
    手机号码<input type="text" id="froget_username"/><br/>

    <input type="button" value="提交" id="forget_pass"/>
</form>
</body>
</html>